
.first{}
.first .second{display:block;overflow: hidden;border-bottom:0.01rem solid #ccc ;margin:0.2rem 0 0 0 ;}
.first .second img.b1{float: left;width:1.16rem;height:1.16rem;padding-left: 0.2rem;}
.first .second .title{float:left;margin-left:0.2rem ;}
.first .second .title h3{font:0.24rem/0.3rem "";color:#000;}
.first .second .title p{font:0.2rem/0.25rem "";border-bottom:0.01rem dashed #666 ;margin:0.1rem 0;}
.first .second .title p img{width:0.15rem;height:0.2rem;}
.first .second .title h5{font:0.12rem/0.18rem "";color:#777;}
.first .second .title h6{font:0.12rem/0.18rem "";color:#777;margin-bottom: 0.1rem;}
.first .second .right{float:right;}
.first .second .right .tu{padding-right:0.1rem ;}
.first .second .right .tu img{width:0.48rem;height:0.5rem;}
.first .second .right .tu img:nth-child(1){margin-right: 0.1rem;}

.first .second .right .xin{margin-top:0.4rem ;}
.first .second .right .xin p:nth-child(1){font:0.12rem/0.18rem "";}
.first .second .right .xin p:nth-child(1) em{color: orange;}
.first .second .right .xin p:nth-child(2) img{margin-right:0.06rem ;}
.listAll{margin-bottom:0.93rem ;}


