/* .header{background:#5398f4 ;height:0.8rem;display: flex;justify-content: space-around;align-items: center;} */
.qwe{background:#5398f4;height:0.8rem;text-align: center;}
.qwe img{position: absolute;width:0.2rem;height:0.32rem;color: #fff;position: absolute;margin-left:-2.5rem;margin-top: 0.2rem;}
.qwe p{display:inline-block;font:0.3rem/0.8rem "";color:#fff;margin:0 auto;}


