.Reg{background:#f2f2f2;height:20rem;}
.Reg .head{height:0.5rem;background:blue;}
.Reg .head p{font:0.2rem/0.5rem "";color:#fff;text-align: center;}
.Reg .tx{margin-top:1rem; }
.Reg .tx ul{}
.Reg .tx ul li{text-align: center;}
.Reg .tx ul li a{font:0.2rem/0.7rem "";color:#5398f4;}
.Reg .tx ul li input{display:block;background: #fff;font:0.3rem/0.7rem "";margin: 0.2rem auto;text-indent: 0.1rem;border-radius: 0.06rem;}
.Reg .tx ul li input.btn{width:2.5rem;height:0.6rem;background: blue;color:#fff;margin-top: 0.6rem; }





























